<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./assets/css/font-awesome/css/font-awesome.css">
 <link rel="stylesheet" href="./assets/css/bootstrap.css">
 <link rel="stylesheet" href="./assets/css/spectrum.css">


 <script src="./assets/js/jquery-1.11.2.min.js"></script>
 <script src="./assets/js/bootstrap.js"></script>
 <script src="./assets/js/spectrum.js"></script>

 <style>
	.help-block{
		display:inline;
	}

.modal-dialog {
  width: 98%;
  height: 90%;
  padding: 0;
}

.modal-dialog-about {
  width: 60%;
  height: 60%;
  padding: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.modal.in {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}


.modal-backdrop.in{
  opacity:0;
}

@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}
 </style>

</head>

<body>

<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="line-height:32px;" href="/">LSIVIEWER</a>
            </div>
            <!-- Collect../ the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><button href="#aboutModal" id="openBtn" data-toggle="modal" style="margin-top:13px;" class="btn btn-info" onclick="aboutDialog();">ABOUT</button></li> 
                    </li>
                    <li>
                        <button href="#uploadModal" id="openBtn" data-toggle="modal" style="margin-top:13px;" class="btn btn-info">UPLOAD</button></li>
		            </ul>
              
              <!-- Used for uploads
              <form name="upload_form" id="upload_form" enctype="multipart/form-data">
  		            <ul class="nav navbar-nav pull-right">
                      <li>
    											<input style="margin-top:20px;" name="files" multiple="multiple" type="file" /><br />
                      </li>
                      

                        <a><button class="btn btn-primary" onClick="submitForm()">UPLOAD</button></a>
                      </li>
              </form>
              -->
                    
        
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div style="margin-top: 90px; margin-right: 50px;">

        <div class="row" >
        <div class="col-lg-18">
		<div class="row">

  		<div class="col-md-offset-1 col-md-4" style="width : 440px">
  				<button title="Zoom in" class="btn btn-sm" onClick="_zoomIn()"><i class="fa fa-search-plus"></i></button>
  				<button title="Zoom out" class="btn btn-sm" onClick="_zoomOut()"><i class="fa fa-search-minus"></i></button>
  				<button title="Pan up" class="btn btn-sm" onClick="_panUp()" ><i class="fa fa-arrow-up"></i></button> 		
  				<button title="Pan down" class="btn btn-sm" onClick="_panDown()"><i class="fa fa-arrow-down"></i></button> 		
  				<button title="Pan right" class="btn btn-sm" onClick="_panRight()"><i class="fa fa-arrow-right"></i></button> 		
  				<button title="Pan left" class="btn btn-sm" onClick="_panLeft()"><i class="fa fa-arrow-left"></i></button> 		
  				<button title="Zoom full" onClick="_equalPosition()" class="btn btn-sm"><i class="fa fa-arrows-alt"></i></button>
          <button href="#myModal" id="openBtn" data-toggle="modal" class="btn btn-success" onclick="dialog();">Attribute Table</button>
  		</div>
  		<div class="col-md-2" style="width: 240px;">
  				<span class="help-block">Pen Stroke &nbsp;</span>
  				<input title="Stroke color" type='button' id="stroke_color" ></input>	
  				<button title="Penwidth increase" class="btn btn-sm" onClick="_penIncrease()"><i class="fa fa-plus"></i></button>
  				<button title="Penwidth decrease" class="btn btn-sm" onClick="_penDecrease()"><i class="fa fa-minus"></i></button>
  		</div>
  		<div class="col-md-2" style="width : 150px;">
  				<span class="help-block">Fill Color &nbsp;</span>
  				<input title="Fill color" type='button' id="fill_color" ></input>	
  		</div>

  		<div class="col-md-2">
  		
  				<span class="help-block">Label &nbsp;</span>
  				<input title="Label color" type='button' id="label_color" ></input>	
  				<button title="Label width increse " class="btn btn-sm" onClick="_labelSizeIncrease()"><i class="fa fa-plus"></i></button>
  				<button title="Label width decrease" class="btn btn-sm" onClick="_labelSizeDecrease()"><i class="fa fa-minus"></i></button>
  		
  		</div>
  		<div class="col-md-1">
  				<select id="label" onchange="labelToggle();" class="labels form-control">
  					<option>Label</option>
  				</select>
  		</div>

      <div class="col-md-1">
          <select id="export" onchange="_export();" class="form-control">
            <option value="Export as">Export as</option>
            <option value="PNG">PNG</option>
            <option value="JPG">JPG</option>
          </select>
      </div>
      <a href="#" id="download_link" download="map.jpg"></a>
 
	  </div>

		</div></br>
        <!-- /.row -->
     			<canvas  id="map" ondblclick="_zoomEvent(event)" width="1450" height="580"></canvas>
				</br></br>
				<div class="col-md-offset-3 col-md-6">	
				</div>
	
			<?php }?>
    </div>

    <div style="margin-left:0px;">
    </div>

  

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3 class="modal-title">Attribute Table</h3>
        </div>
        <div class="modal-body">
        
	      <table class="diag table table-striped">
		<thead class="diag-head"><tr class="diag-head-tr">

		</tr></thead>
		<tbody class="diag-body">
			

		</tbody>
		</table>
  
	</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
        </div>
				
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


<!-- About -->

<div class="modal fade" id="aboutModal">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3 class="modal-title" style="text-align: center;">About Lsiviewer</h3>
        </div>
        <div class="modal-body">
        
    <div class="diag-body-about">
      <p>LSIviewer was developed for users/developers who may not have access to a suite of GIS software tools but would like to just view/display and print/export the data they have. Basic Styling includes changing background color, pen color, fill color, label color, label size, pen width.  It allows to view Attribute Table and export the current map view with styling to a SVG/JPEG/PNG files </p>
      <div style="text-align: center;">
      <p> These are the formats that are currently supported. </p>
      <ul style="font-weight : 800; list-style-type : none;">
        <li> Shapefile </li>
        <li> KML </li>
        <li> GML </li>
        <li> GPX </li>
        <li> GeoJson </li>
      </ul>
      <a href="https://github.com/LSI-IIIT/lsiviewerjs"> Fork Me on Github </a>

    </div>
    <div style="text-align:center;">
      <img src="https://avatars0.githubusercontent.com/u/2631830?v=3&s=200" width="30px" height="30px" ></img>
      <a href="http://lsi.iiit.ac.in"> Lab for Spatial Informatics, IIIT-H </a>
    </div>
  </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
        </div>
        
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
</div>

<!-- For uploads -->
<div class="modal fade bs-example-modal-lg" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="text-align: center;">UPLOAD FILES</h4>
      </div>
      <div class="modal-body">
        <center>
        <div class="form-group">
          <label for="sel1">Select uploading file format:</label>
          <select class="form-control" id="select_file" onChange="showUploadInput();" style="width:20%" id="sel1">
            <option value="None"></option>
            <option value="shapefile">SHAPEFILE</option>
            <option value="gml">GML</option>
            <option value="gpx">GPX</option>
            <option value="kml">KML</option>
            <option value="geojson">GeoJson</option>
          </select>
        </div>
        <form method="POST" name="upload_form" id="upload_form" enctype="multipart/form-data">
                  <ul style="display: inline-flex; list-style-type : none;">
                      <li>
                          <input style="align" name="files" id="files" multiple="multiple" type="file" />
                      </li>
                      <li>
                        <a><button class="btn btn-primary" onClick="submitForm()">UPLOAD</button></a>
                      </li>
              </form>
            </center>

      </div>
      <div style="text-align: center">
        <p id="message_for_files"><b></b> </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <hr class="small">
      <p class="text-muted">Copyright &copy; Lsiviewer 2015-2016</p>
    </div>
    </div>
  </div>
</footer>

  <script>
  // Necessary for file validation 
  var MIME_TYPES = {
    'shapefile' : ['shp', 'shx', 'dbf'],
    'gpx' : ['gpx'],
    'kml' : ['kml'],
    'geojson' : ['geojson'],
    'gml' : ['gml']
  }
   $('#upload_form').hide();
    function showUploadInput() {

      $('#upload_form').show();
      var select_file_format = document.getElementById('select_file').value;
      var message = document.getElementById('message_for_files');
      if(select_file_format == "None") {
        $('#upload_form').hide();
        message.innerHTML = '';
      }
      
      for (var key in MIME_TYPES) {
        if (select_file_format == key) {
          message.innerHTML = "<b>PLEASE MAKE SURE UPLOADING FILE(S) HAVE AN EXTENSION ." + MIME_TYPES[key] + "</b>";
        }
      }
      console.log("select_file_format = " + select_file_format);
    }
  </script>

  <script src="http://malsup.github.com/jquery.form.js"></script> 
  <script type="text/javascript" src="./assets/js/lsiviewer.js"></script>

</body>

</html>
